* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 1rem;
    align-items: center;
    background-color: lightgray;
    color: black;
}

header nav ul {
    display: flex;
    gap: 6rem;
}

header nav {
    margin-left: auto;
    margin-right: 20px;
}
header nav a.active{font-weight: bolder;border-bottom: 3px solid orange;}

header img {
    margin-left: 20px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

header li {
    list-style: none;
}

header span {
    font-weight: bold;
    position: relative;
    top: -9px;
}

#menuBtn {
    display: none;
}

main h1 {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.list-grid {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.list-grid button {
    width: 150px;
    background-color: bisque;
    color: black;
    border-radius: 4px;
    padding: 1rem;
}

.card-flex {
    display: flex;
    gap: 10px;
    border-top: 1px solid black;
    padding-top: 8px;
}

.card-flex img {
    width: 150px;
    height: 150px;
}

.cardflex-cards {
    background-color: lightgray;
    padding: 1rem;
    border-radius: 4px;
    display: inline-block;
    margin-left: 1rem;
    margin-top: 3rem;
    margin-right: 1rem;
}

.bname {
    text-align: center;
    font-weight: bold;
    padding: 8px;
}

.phone {
    font-size: 1rem;
    display: inline-block;
}

.card-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columngrid {
    grid-template-columns: 1fr 1fr;
}

.columnlist {
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: 0 auto;
}

footer {
    display: flex;
    background-color: lightgrey;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding-top: 1rem;
}

footer img {
    width: 50px;
    height: 50px;
}

main picture img{width: 100%;height: 500px;}
.absolute-container{position: relative;}
.absolute-container h1{position: absolute;top: 10%;left: 28%;margin-top: 3rem;font-weight: bold;color: black;}
.absolute-container h2{position: absolute;top: 0;left: 28%;margin-top: 13rem;color: black;font-style: italic;}
.absolute-container button{position: absolute;top: 70%;left:48%;padding: 1rem;border-radius: 5px;background-color: chartreuse;border: 1px solid black;}
.w-card{background-color: lightgray;padding: 10px;border-radius: 6px;text-align: center;border: 1px solid blue;display: flex;gap: 7px;justify-content: center;}
.w-flex{display: grid; grid-template-columns: 1fr 1fr;gap: 1rem;max-width: 90%;margin: 0 auto;margin-top: 1.5rem;}
.w-card img{width: 50px;height: 50px;}
.hyu img{margin-top: 5rem;padding-right: 10px;}

.w-card p{margin-top: 6px;}
.ppp{margin-top: 10px;}
.coom{background-color: chartreuse;color: black;text-align: center;padding: 10px;margin-top: 15px;}
.ha-card{border: 1px solid brown;border-radius: 5px;width: 400px;}
.ha-flex{display: flex;gap: 1rem;justify-content: center;}
.ha-card img{width: 100%;height: 150px;}
.ha-card p{text-align: center;}
.ha-card a{display: block;text-align: center;margin-bottom: 7px;}
.coom2{background-color: blueviolet;color: white;text-align: center;padding: 10px;margin-top: 15px;}
.card-columnss{display: grid;grid-template-columns: 1fr 1fr 1fr;}
.box{padding: 1rem;background-color: blueviolet;color: white;display: inline-block;border-radius: 6px;text-align: center;}
.box2{background-color: black;}
.bx{display:grid; grid-template-columns: 1fr 1fr; margin-top: 1rem;gap: 10px; justify-content: center;align-content: center;max-width: 80%;margin-left: 6rem;}
.box button{padding: 11px;background-color: chartreuse;color: black;margin-top: 6px;border-radius: 7px;border: 1px solid black;}
.box2 button{border: 2px solid white;}
@media screen and (max-width: 1000px) {
    #navMenu {
        display: none;
        flex-direction: column;
    }

    #navMenu.open {
        display: flex;
        gap: 10px;
    }

    #menuBtn {
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: auto;
        display: block;
    }

    header nav ul {
        flex-direction: column;
        gap: 20px;
    }

    header img {
        margin-left: 10px;
    }

    header span {
        position: relative;
        width: 150px;
        display: block;
        top: -5px;
    }

    .card-columns {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card-flex img {
        height: 100px;
        width: 100px;
    }

    .phone {
        font-size: 15px;
    }

    .card-flex p {
        font-size: 12px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-left: 1rem;
    }
    .absolute-container h1{left: 20%;}
    .absolute-container h2{left: 10%;margin-top: 18rem;}
    .absolute-container button{left: 33%;top: 83%;}
    .w-flex{display: block;}
    .w-card{margin-bottom: 11px;}
    .ha-flex{display: block;}
    .ha-card{width: 300px;margin: 0 auto;margin-bottom: 15px;}
    .coom2{font-size: 16px;}
    .card-columnss{grid-template-columns:1fr ;}
    .bx{display: grid;grid-template-columns: 1fr;margin-left: 2.5rem;}
}