*{margin: 0;padding: 0;box-sizing: border-box;}
header{background-color: #0b1f3a;color: white;text-align: center;padding: 2rem;}
h1{font-family: "Poppins", sans-serif;font-size: 2rem;}
main{max-width: 900px;margin: 2rem auto;padding: 1.5rem;}
h2,h3{color: #0b1f3a; text-align: center;font-family: "Poppins", sans-serif;}
p{font-family:"Poppins", sans-serif ;font-size: 1rem;line-height: 1.6;text-align: center;}
section{margin-bottom: 2.5rem;background-color: white;padding: 1.5rem;border-radius: 8px;border: 1px solid #d9e1ea;}
ul{font-family: "Open Sans", sans-serif;line-height: 1.8;padding-left: 2rem;}
li{margin-bottom: 0.5rem;}
.color-box{padding: 1rem;margin: 0.5rem 0;border-radius: 5px;}
.dark-blue{background-color: #0b1f3a;color: white;}
.white{background-color: #ffffff;color: #0b1f3a;border: 1px solid #0b1f3a;}
.light-blue{background-color: #4da6ff;color: #0b1f3a;}
footer{background-color: #0b1f3a;color: white;text-align: center;padding: 1.5rem;margin-top: 2rem;}
body{margin: 0;background-color: #f5f7fa;color: #222;}
@media screen and (max-width: 768px){
    main{padding: 1rem;}
}