* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 90px auto;
    padding: 5px 0 5px 10px;
    align-items: end;
    border: solid 1px #ddd;
    column-gap: 8px;
}

.logo {
    display: block;
    width: 50px;
    height: auto;
}

header,
main,
nav,
footer {
    margin: 0 auto;
}

button {
    display: none;
}

header span {
    padding-bottom: 10px;
    font-weight: bolder;
}

.navigation {
    display: block;
}

.navigation ul {
    display: flex;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    background: #ddd;
    border-radius: 8px;
}

.navigation a:hover {
    background-color: #E07A5F;
}

.navigation ul {
    justify-content: space-evenly;
    border-bottom: 1px solid #ddd;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media screen and (max-width: 640px) {
    header {
        display: grid;
        grid-template-columns: 90px 1fr 44px;
        padding: 5px 0 5px 10px;
        align-items: end;
        border: solid 1px #ddd;
        column-gap: 8px;
    }

    .logo {
        display: block;
        width: 50px;
        height: auto;
    }

    header span {
        font-size: 1.2rem;
        color: #3D405B;
        padding-bottom: 5px;
    }

    .hamburger {
        background: none;
        border: none;
        color: #3D405B;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .hamburger::before {
        content: "\2630";
        font-size: 2rem;

    }

    .hamburger.show::before {
        content: "\00d7";
    }

    button {
        display: block;
    }

    .navigation {
        display: none;
    }

    .navigation.show {
        display: block;
    }

    .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        border-bottom: none;
    }

    .navigation a {
        display: block;
        padding: .8rem 10px;
        color: #3D405B;
        text-decoration: none;
        border-bottom: solid 1px #ddd;
        background: transparent;
        border-radius: 0;
    }

    .navigation a:hover {
        background-color: #E07A5F;
    }

}